{% extends "base.html" %}
{% load static %}

{% block title %}
About
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}" />

{% endblock css %}

{% block content %}
<div class="container">
    <div class="image-container">
        <img src="{% static 'portfolio/images/smallev.png' %}" alt="Lev Antuganov — Photographer" />
    </div>
    <div class="text-container">
        <div class="title">Hey, I'm Lev!</div>
        <p>There was a time when I tried to capture beautiful shots, which resulted in a modest collection of
            photographs that you can find on this website. Although my interest in this hobby and the desire to grow
            remain, the passion that drove me has faded, and at the moment, I do not plan to develop in this direction.
        </p>
        <p> Now, however, I am drawn to web development, and I consider this site primarily as a web developer's
            portfolio rather than a photographer's. If you have any comments or suggestions regarding the site's
            structure and the decisions made in its implementation, I would be glad to hear them.

        </p>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock js %}