{% extends "base.html" %}
{% load static %}

{% block title %}
Series by
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'portfolio/css/series.css' %}" />
{% endblock css %}

{% block content %}
<div class="grid">
    <div class="grid-col grid-col--1">
        {% for gallery in galleries %}
        {% if gallery.images %}
        <div class="grid-item">
            <a href="{{ gallery.get_absolute_url }}" class="image-link">
                {% if gallery.title_image %}
                <img src="{{ gallery.title_image.url }}" loading="lazy" width="200" height="200"
                    alt="{{ gallery.title }}">
                {% else %}
                <img src="{{ gallery.first_image_in_gallery }}" loading="lazy" width="200" height="200"
                    alt="{{ gallery.title }}">
                {% endif %}
                <div class="gallery-info">
                    <div class="gallery-title-container">
                        <span class="gallery-title">{{ gallery.title }}</span>
                    </div>
                    <span class="gallery-date">{{ gallery.date|date:'F, Y' }}</span>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="grid-col grid-col--2"></div>
    <div class="grid-col grid-col--3"></div>
    <div class="grid-col grid-col--4"></div>
    <div class="grid-col grid-col--5"></div>
    <div class="grid-col grid-col--6"></div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'portfolio/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'portfolio/js/colcade.js' %}"></script>
<script>
    // reset scrolling position after page is reloaded
    $(function () {
        $('html, body').animate({ scrollTop: 0 }, 1);
    });    
    // init Colcade
    $('.grid').colcade({
        columns: '.grid-col',
        items: '.grid-item',
        gutter: 40,
    });

    // observer for images' animation
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('grid-item-animation');
                return;
            }
            // entry.target.classList.remove('grid-item-animation');
        });
    });
    const items = document.querySelectorAll('.grid-item');
    items.forEach((element) => observer.observe(element));
</script>
{% endblock js %}